<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 注册typeHandlers -->
    <typeHandlers>
        <!--覆盖默认的org.apache.ibatis.type.ZonedDateTimeTypeHandler类型处理器-->
        <typeHandler handler="cn.mimiknight.developer.kuca.spring.appeasy.module.myabtis.typehandler.KucaDateTypeHandler"/>
        <!--覆盖默认的org.apache.ibatis.type.OffsetDateTimeTypeHandler类型处理器-->
        <typeHandler handler="cn.mimiknight.developer.kuca.spring.appeasy.module.myabtis.typehandler.KucaOffsetDateTimeTypeHandler"/>
        <!--覆盖默认的org.apache.ibatis.type.DateTypeHandler类型处理器-->
        <typeHandler handler="cn.mimiknight.developer.kuca.spring.appeasy.module.myabtis.typehandler.KucaZonedDateTimeTypeHandler"/>
    </typeHandlers>

</configuration>